header {
  width: "100%";
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: antiquewhite;
}

#logo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #eee8f2;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

#logo img {
  width: 100%;
  filter: drop-shadow(0 0 4px rgba(29, 29, 29, 0.35));
}
