.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  /* height: 32px; */
}

.title h1 {
  height: 32px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons button {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 0.5rem;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

button img {
  width: 100%;
}

.container-infos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
}

.container-infos img {
  border-radius: 10px;
  /* width: 600px;
  height: 400px; */
}

.infos {
  width: 100%;
  margin-left: 2rem;
  text-align: justify;
}

.recipe-field-name {
  padding: 0.5rem;
  font-weight: bold;
}

.description,
.procedure {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-border);
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 2rem;
}

.description h4,
.procedure h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.container-procedure {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.procedure {
  width: 48%;
  max-height: 300px;
  overflow-y: auto;
}

.procedure::-webkit-scrollbar {
  width: 8px;
}

.procedure::-webkit-scrollbar-thumb {
  background-color: #a4a4a4;
  border-radius: 4px;
}

.procedure::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

#ingredient ul li {
  margin-left: 1rem;
}

.instructions {
  white-space: pre-line; /* Interprète les retours à la ligne */
}

.add-procedure {
  color: var(--blue-app);
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
}
