<div class="container-title">
  <h1>{{ recipe.name }}</h1>
  <div class="icons">
    <button type="button" (click)="onUpdateRecipe()">
      <img src="pencil.png" alt="modifier" />
    </button>
    <button type="button" (click)="onDeleteRecipe()">
      <img src="cross.png" alt="supprimer" />
    </button>
  </div>
</div>
<div>
  <img src="" alt="" />
  <div>
    <p>Préparation {{ recipe.preparation_time }} mins</p>
    <p>Cuisson {{ recipe.cooking_time }} mins</p>
  </div>
</div>
<h5>Description</h5>
<p>{{ recipe.description }}</p>
<div>
  <h5>Ingrédients</h5>
  <p>{{ recipe.ingredients }}</p>
  <button type="button" (click)="onUpdateRecipe()">
    Ajouter des ingrédients
  </button>
</div>
<div>
  <h5>Instructions</h5>
  <p>{{ recipe.instructions }}</p>
  <button type="button" (click)="onUpdateRecipe()">
    Ajouter des instructions
  </button>
</div>
