<div class="title">
  <h1>{{ recipe.name }}</h1>
  <div class="icons">
    <button>
      <img src="caddie.png" alt="caddie" (click)="onAddIngredientsToList()" />
    </button>
    <button type="button" (click)="onUpdateRecipe()">
      <img src="pencil.png" alt="crayon pour modifier" />
    </button>
    <button type="button" (click)="onDeleteRecipe()">
      <img src="cross.png" alt="croix blanche sur fond rouge pour supprimer" />
    </button>
  </div>
</div>
<div class="container-infos">
  <img src="https://placehold.co/600x400" alt="{{ recipe.name }}" />

  <tbody class="infos">
    <tr>
      <td class="recipe-field-name">Préparation</td>
      <td class="recipe-field-time">{{ recipe.preparation_time }} mins</td>
    </tr>
    <tr>
      <td class="recipe-field-name">Cuisson</td>
      <td class="recipe-field-time">{{ recipe.cooking_time }} mins</td>
    </tr>
    <tr>
      <td class="recipe-field-name">Personnes</td>
      <td class="recipe-field-time">{{ recipe.portions }}</td>
    </tr>
  </tbody>
</div>
@if(recipe.description) {
<div class="description">
  <h4>Description</h4>
  <p>{{ recipe.description }}</p>
</div>
}
<div class="container-procedure">
  <div class="procedure" id="ingredient">
    <h4>Ingrédients</h4>
    <ul>
      @for(line of recipe.ingredients.split('\n'); track recipe.id) {
      <li>{{ line }}</li>
      }
    </ul>
    <p class="add-procedure" (click)="onUpdateRecipe()">
      Ajouter des ingrédients
    </p>
  </div>
  <div class="procedure">
    <h4>Instructions</h4>
    <p class="instructions">{{ recipe.instructions }}</p>
    <p class="add-procedure" (click)="onUpdateRecipe()">
      Ajouter des instructions
    </p>
  </div>
</div>

@if(isAddingIngredientsToList) {
<app-ingredients-to-list-modal
  [ingredients]="recipe.ingredients"
  (closeMenu)="onAddIngredientsToList()"
  title="Selectionner les ingrédients pour vos courses"
/>

}
