<form (ngSubmit)="onSubmit()">
  <input type="text" id="name" name="name" [(ngModel)]="enteredName" />
  <button type="button" (click)="onAddRecipe()">Annuler</button>
  <button type="submit">Enregistrer</button>
  <div>
    <img src="" alt="" />
    <div>
      <p>
        Préparation
        <input
          type="number"
          id="preparation_time"
          name="preparation_time"
          [(ngModel)]="enteredPreparationTime"
        />
        mins
      </p>
      <p>
        Cuisson
        <input
          type="number"
          id="cooking_time"
          name="cooking_time"
          [(ngModel)]="enteredCookingTime"
        />mins
      </p>
    </div>
  </div>
  <h5>Description</h5>
  <textarea
    name="description"
    id="description"
    [(ngModel)]="enteredDescription"
  ></textarea>
  <div>
    <h5>Ingrédients</h5>
    <textarea
      name="enteredIngredients"
      id="enteredIngredients"
      [(ngModel)]="enteredIngredients"
    ></textarea>
  </div>
  <div>
    <h5>Instructions</h5>
    <textarea
      name="enteredInstructions"
      id="enteredInstructions"
      [(ngModel)]="enteredInstructions"
    ></textarea>
  </div>
</form>
