@if(isAddingList) {
<app-new-list-modal (isAdding)="onAddList()" title="Créer une liste" />
}

<div class="main-container">
  <div class="shopping-list">
    <div class="shopping-list-header">
      <div id="logo">
        <img src="meal.png" alt="plat" />
      </div>
      <h2>Mes Listes de course</h2>
    </div>
    <div class="card-container">
      @for (list of lists; track list.id) {
      <app-item-card [item]="list" (click)="onSelectedList(list.id)" />
      }
    </div>

    <button
      class="add-button"
      type="button"
      (click)="onAddList()"
      matTooltip="Ajouter nouvelle liste"
      matTooltipPosition="above"
    >
      +
    </button>
  </div>

  @if(selectedList) {
  <app-list [list]="selectedList" />
  } @else {
  <app-no-list />
  }
</div>
