.main-container {
  display: flex;
  flex-direction: row;
  height: 94vh;
}

.shopping-list {
  width: 50%;
  border: 1px solid red;
}

.shopping-list-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

#logo {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #eee8f2;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

#logo img {
  width: 100%;
  filter: drop-shadow(0 0 4px rgba(29, 29, 29, 0.35));
}

app-list,
app-no-list {
  width: 50%;
  margin: 0 2rem;
}
