<div class="recipes-container">
  <div class="recipes-list">
    <div class="recipes-header">
      <div id="logo">
        <img src="meal.png" alt="plat" />
      </div>
      <h2>Mes Recettes</h2>
    </div>
    <div class="search-input">
      <input type="text" />
    </div>
    <div class="card-container">
      @for (recipe of recipes; track recipe.id) {
      <app-item-card [item]="recipe" (click)="onSelectRecipe(recipe.id)" />
      }
    </div>

    <button class="add-button" type="button" (click)="onAddRecipe()">+</button>
  </div>

  @if(selectedRecipe && !isAddingRecipe && !isUpdatingRecipe) {
  <app-recipe [recipe]="selectedRecipe" (isUpdatingRecipe)="onUpdateRecipe()" />
  } @else if(isAddingRecipe ) {
  <app-new-recipe (isAddingRecipe)="onAddRecipe()" />
  } @else if(isUpdatingRecipe ) {
  <app-update-recipe
    [recipe]="selectedRecipe"
    (isUpdatingRecipe)="onUpdateRecipe()"
  />
  } @else {
  <app-no-recipe />
  }
</div>
