<div class="recipes-container">
  <div class="recipes-list">
    <div class="recipes-header">
      <div id="logo">
        <img src="meal.png" alt="plat" />
      </div>
      <h2>Mes Recettes</h2>
      <div
        id="sort"
        (click)="isSort()"
        [matTooltip]="isSorting ? 'Retirer les filtres' : 'Filtres'"
        matTooltipPosition="above"
        [ngStyle]="{ backgroundColor: isSorting ? '#eee8f2' : '' }"
      >
        <img src="sort.png" alt="trie" />
      </div>
      @if(isSorting) {
      <div class="container-sorting">
        <div class="sorting" (click)="toggleSortOrder()">
          Nom
          <img
            id="chevron"
            [src]="aToz ? 'chevron-down.png' : 'chevron-up.png'"
            alt="plat"
          />
        </div>
        <div class="sorting" (click)="filterWithTags()">Tag</div>
      </div>
      }
    </div>
    <div class="search-input">
      <app-search-input
        placeholder="Rechercher une recette..."
        (searchInputChange)="onSearchInputChange($event)"
      />
    </div>
    <div class="card-container">
      @for (recipe of displayedRecipes; track recipe.id) {
      <app-item-card [item]="recipe" (click)="onSelectRecipe(recipe.id)" />
      }
    </div>

    <button
      class="add-button"
      type="button"
      (click)="onAddRecipe()"
      matTooltip="Ajouter nouvelle recette"
      matTooltipPosition="above"
    >
      +
    </button>
  </div>

  @if(selectedRecipe && !isAddingRecipe && !isUpdatingRecipe) {
  <app-recipe [recipe]="selectedRecipe" (isUpdatingRecipe)="onUpdateRecipe()" />
  } @else if(isAddingRecipe ) {
  <app-new-recipe (isAddingRecipe)="onAddRecipe()" />
  } @else if(isUpdatingRecipe ) {
  <app-update-recipe
    [recipe]="selectedRecipe"
    (isUpdatingRecipe)="onUpdateRecipe()"
  />
  } @else {
  <app-no-recipe />
  }
</div>
