.container {
  width: 80%;
  height: 4rem;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 1rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
