.card-meal {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 5px 5px 16px #b5b9be, -5px -5px 16px #ffffff;
}

.card-meal h4 {
  text-align: center;
}

.card-meal p {
  text-align: justify;
}

.meal-action {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.meal-action a {
  text-decoration: none;
}
