<app-header />
<main>
  <div>
    <router-outlet />
  </div>

  <!-- <app-recipes
    [recipes]="recipes"
    (select)="onSelectRecipe($event)"
    (isAddingRecipe)="onAddRecipe()"
  />
  @if(selectedRecipe && !isAddingRecipe && !isUpdatingRecipe) {
  <app-recipe [recipe]="selectedRecipe" (isUpdatingRecipe)="onUpdateRecipe()" />
  } @else if(isAddingRecipe ) {
  <app-new-recipe (isAddingRecipe)="onAddRecipe()" />
  } @else if(isUpdatingRecipe ) {
  <app-update-recipe
    [recipe]="selectedRecipe"
    (isUpdatingRecipe)="onUpdateRecipe()"
  />
  } @else {
  <p>Aucune recette sélectionné</p>
  } -->
</main>
