.sidebar {
  display: flex;
  flex-direction: column;
}

a {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: #a4a4a4;
}
