.container {
  height: 4rem;
  border: 1px solid var(--grey-border);
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container:hover {
  background-color: #f2f2f2;
}

.selected {
  color: var(--blue-app);
  background-color: #e2ecfc;
}

.time {
  color: grey;
}
