<form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipe!.id)">
  <input type="text" id="name" formControlName="name" />
  <button type="button" (click)="onUpdateRecipe()">Annuler</button>
  <button type="submit">Enregistrer</button>
  <div>
    <img src="" alt="" />
    <div>
      <p>
        Préparation
        <input
          type="number"
          id="preparationTime"
          formControlName="preparationTime"
        />
        mins
      </p>
      <p>
        Cuisson
        <input
          type="number"
          id="cookingTime"
          formControlName="cookingTime"
        />mins
      </p>
    </div>
  </div>
  <h5>Description</h5>
  <textarea id="description" formControlName="description"></textarea>
  <div>
    <h5>Ingrédients</h5>
    <textarea id="ingredients" formControlName="ingredients"></textarea>
  </div>
  <div>
    <h5>Instructions</h5>
    <textarea id="instructions" formControlName="instructions"></textarea>
  </div>
</form>
